vti_encoding:SR|utf8-nl
vti_httpdversion:SX|Microsoft-IIS/4.0
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|21 Feb 2000 12:30:19 +0100
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|msiis
vti_dependenciesood:IR|0
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1105
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.txt.txt.
vti_defaultcharset:SR|none
vti_welcomenames:VX|Default.htm Default.asp
vti_defaultlanguage:SR|de
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|Next
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerEmailTransport
vti_title:SR|s3tips_eng
